@import url('https://fonts.cdnfonts.com/css/lcd');

body {
  font-family: LCD2, system-ui;
}
body::before {
    content: "";
    background-image: url(../img/bg1.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
.nroGrande{
    font-size: 70px;
}